.search {
  position: relative;

  &__bar {
  }

  &__input {
    padding: 1rem;
    width: 100%;
    font-size: $text-size-lg;
    margin-bottom: $spacing-lg;
  }

  &__results {
    width: 100%;
    position: absolute;
    top: $spacing-hg;
    left: 0;
    background-color: $color-grey;
    z-index: 1000;
    padding: $spacing-md;
    box-shadow: 12px 14px 26px -5px rgba(0, 0, 0, 0.75);
    min-height: 200px;
  }

  &__close {
  }
}
