$backgrounds: (
  background1: "../../mockup/assets/backgrounds/background1.jpg",
  background2: "../../mockup/assets/backgrounds/background2.jpg",
  background3: "../../mockup/assets/backgrounds/background3.jpg",
  background5: "../../mockup/assets/backgrounds/background5.jpg",
  background6: "../../mockup/assets/backgrounds/background6.jpg",
  background7: "../../mockup/assets/backgrounds/background7.jpg",
  background8: "../../mockup/assets/backgrounds/background8.jpg",
  background9: "../../mockup/assets/backgrounds/background9.jpg",
  background10: "../../mockup/assets/backgrounds/background10.jpg",
  background13: "../../mockup/assets/backgrounds/background13.jpg",
  background14: "../../mockup/assets/backgrounds/background14.jpg",
  background15: "../../mockup/assets/backgrounds/background15.jpg",
  background16: "../../mockup/assets/backgrounds/background16.jpg",
  background17: "../../mockup/assets/backgrounds/background17.jpg",
  background18: "../../mockup/assets/backgrounds/background18.jpg",
  background19: "../../mockup/assets/backgrounds/background19.jpg",
  background20: "../../mockup/assets/backgrounds/background20.jpg",
  background21: "../../mockup/assets/backgrounds/background21.jpg",
  background25: "../../mockup/assets/backgrounds/background25.jpg",
  background26: "../../mockup/assets/backgrounds/background26.jpg",
  background27: "../../mockup/assets/backgrounds/background27.jpg",
  background28: "../../mockup/assets/backgrounds/background28.jpg",
  background29: "../../mockup/assets/backgrounds/background29.jpg",
  background30: "../../mockup/assets/backgrounds/background30.jpg",
  background31: "../../mockup/assets/backgrounds/background31.jpg",
  background32: "../../mockup/assets/backgrounds/background32.jpg",
  background33: "../../mockup/assets/backgrounds/background33.jpg",
  background34: "../../mockup/assets/backgrounds/background34.jpg",
  background35: "../../mockup/assets/backgrounds/background35.jpg",
  background36: "../../mockup/assets/backgrounds/background36.jpg",
  background37: "../../mockup/assets/backgrounds/background37.jpg",
  background38: "../../mockup/assets/backgrounds/background38.jpg",
  background39: "../../mockup/assets/backgrounds/background39.jpg",
  background40: "../../mockup/assets/backgrounds/background40.jpg",
  background41: "../../mockup/assets/backgrounds/background41.jpg",
  background42: "../../mockup/assets/backgrounds/background42.jpg",
  background43: "../../mockup/assets/backgrounds/background43.jpg",
  background44: "../../mockup/assets/backgrounds/background44.jpg",
  background45: "../../mockup/assets/backgrounds/background45.jpg",
  background46: "../../mockup/assets/backgrounds/background46.jpg",
  background47: "../../mockup/assets/backgrounds/background47.jpg",
  background48: "../../mockup/assets/backgrounds/background48.jpg",
  background49: "../../mockup/assets/backgrounds/background49.jpg",
  background50: "../../mockup/assets/backgrounds/background50.jpg",
  background51: "../../mockup/assets/backgrounds/background51.jpg",
  background52: "../../mockup/assets/backgrounds/background52.jpg",
  background53: "../../mockup/assets/backgrounds/background53.jpg"
);
