$icons: (
  icon-missing: "../../mockup/assets/icons/icon-missing.svg",
  icon-missing--active: "../../mockup/assets/icons/icon-missing-active.svg",
  quote-start: "../../mockup/assets/icons/quote-start.svg",
  quote-end: "../../mockup/assets/icons/quote-end.svg",
  spinner: "../../mockup/assets/icons/spinner.svg",
  close: "../../mockup/assets/icons/close.svg",
  hamburger: "../../mockup/assets/icons/hamburger.svg",
  thumbs-up: "../../mockup/assets/icons/thumbs-up.svg",
  thumbs-down: "../../mockup/assets/icons/thumbs-down.svg",
  calendar: "../../mockup/assets/icons/calendar.svg",
  calendar--active: "../../mockup/assets/icons/calendar-active.svg",
  alphabetical: "../../mockup/assets/icons/alphabetical.svg",
  alphabetical--active: "../../mockup/assets/icons/alphabetical-active.svg",
  arrow-down: "../../mockup/assets/icons/arrow-down.svg",
  arrow-up: "../../mockup/assets/icons/arrow-up.svg",
  award: "../../mockup/assets/icons/award-solid.svg",
  nes: "../../mockup/assets/icons/nes-bw.png",
  snes: "../../mockup/assets/icons/snes-bw.png",
  atari-7800: "../../mockup/assets/icons/atari-7800-bw.png",
  pc-engine: "../../mockup/assets/icons/pc-engine-bw.png",
  neo-geo: "../../mockup/assets/icons/neo-geo-bw.png",
  mega-drive: "../../mockup/assets/icons/mega-drive-bw.png",
  game-boy: "../../mockup/assets/icons/game-boy-bw.png",
  master-system: "../../mockup/assets/icons/master-system-bw.png",
  game-gear: "../../mockup/assets/icons/game-gear-bw.png",
  sg-1000: "../../mockup/assets/icons/sg-1000-bw.png"
);
