$icons: (
  icon-missing: "../../mockup/assets/icons/icon-missing.svg",
  quote-start: "../../mockup/assets/icons/quote-start.svg",
  quote-end: "../../mockup/assets/icons/quote-end.svg",
  spinner: "../../mockup/assets/icons/spinner.svg"
);
