$icons: (
  icon-missing: "../../mockup/assets/icons/icon-missing.svg",
  icon-missing--active: "../../mockup/assets/icons/icon-missing-active.svg",
  quote-start: "../../mockup/assets/icons/quote-start.svg",
  quote-end: "../../mockup/assets/icons/quote-end.svg",
  spinner: "../../mockup/assets/icons/spinner.svg",
  close: "../../mockup/assets/icons/close.svg",
  hamburger: "../../mockup/assets/icons/hamburger.svg",
  thumbs-up: "../../mockup/assets/icons/thumbs-up.svg",
  thumbs-down: "../../mockup/assets/icons/thumbs-down.svg",
  calendar: "../../mockup/assets/icons/calendar.svg",
  calendar--active: "../../mockup/assets/icons/calendar-active.svg"
);
