html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  height: 100%;

  > #mount-point {
    height: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  margin: 0;
}

button,
input,
textarea {
  font-family: inherit;
}

// button,
// input[button] {
//   cursor: pointer;
// }

ul,
ol,
menu {
  margin: 0;
  padding: 0;
}

.mouse-user * {
  outline: none;
}

img {
  max-width: 100%;
}
