$base-page-width: 980px;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-hg: 4rem;

$text-size-sm: 1rem;
$text-size-md: 1.2rem;
$text-size-lg: 1.5rem;
$text-size-hg: 2rem;

$default-grid-gap: $spacing-lg;
$medium-grid-gap: $spacing-md;

$color-black: black;
$color-white: white;
$color-grey: #d3d3d3;
$color-grey--light: #efefef;

$color-primary: #b4d6cf;
$color-secondary: #8d84e6;
$color-tertiary: #ced6b4;

$color-system: red;
$color-genre: blue;
$color-user: green;
$color-developer: purple;
$color-year: orange;

$color-debug-yellow: #fafad2;
