.icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

  @each $name, $value in $icons {
    &--#{$name} {
      background-image: url($value);
    }
  }

  &--tiny {
    width: 24px;
    height: 24px;
  }

  &--small {
    width: 32px;
    height: 32px;
  }

  &--medium {
    width: 64px;
    height: 64px;
  }

  &--large {
    width: 80px;
    height: 80px;
  }

  &--huge {
    width: 128px;
    height: 128px;
  }
}
