.icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

  @each $name, $value in $icons {
    &--#{$name} {
      background-image: url($value);
    }
  }

  &--tiny {
    width: 1rem;
    height: 1rem;
  }

  &--small {
    width: 2rem;
    height: 2rem;
  }

  &--medium {
    width: 4rem;
    height: 4rem;
  }

  &--large {
    width: 5rem;
    height: 5rem;
  }

  &--huge {
    width: 8rem;
    height: 8rem;
  }
}
