.filtered-games-list {
  position: relative;

  &__heading {
    margin-bottom: $spacing-md;
  }

  &__loading {
    position: absolute;
    left: 0;
    top: $spacing-lg;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.8;
    z-index: 100;
  }

  &__loading-spinner {
    font-size: $text-size-hg;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
  }
}
