.dropdown {
  position: relative;

  &__selection {
    position: relative;
    border-left: 0;
    min-width: 160px;
    padding: $spacing-sm;
  }

  &__arrow {
    position: absolute;
    left: 50%;
    bottom: 2px;
    transform: translate(-50%, 100%);
    z-index: 100;
  }

  &--system {
    .dropdown__selection {
      border-left: 2px solid $color-system;
    }
    .dropdown__content {
      border-left: 2px solid $color-system;
    }
  }

  &--genre {
    .dropdown__selection {
      border-left: 2px solid $color-genre;
    }
    .dropdown__content {
      border-left: 2px solid $color-genre;
    }
  }

  &--developer {
    .dropdown__selection {
      border-left: 2px solid $color-developer;
    }
    .dropdown__content {
      border-left: 2px solid $color-developer;
    }
  }

  &--year {
    .dropdown__selection {
      border-left: 2px solid $color-year;
    }
    .dropdown__content {
      border-left: 2px solid $color-year;
    }
  }

  &--user {
    .dropdown__selection {
      border-left: 2px solid $color-user;
    }
    .dropdown__content {
      border-left: 2px solid $color-user;
    }
  }

  &__content {
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 100;
    margin-top: calc(#{$spacing-md} - 3px);
    min-width: 400px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid black;
    border-right: 1px solid black;

    > .list__item {
      border-bottom: 1px solid grey;

      &:nth-child(odd) {
        border-right: 1px solid grey;
      }
    }
  }

  &__option {
    height: 100%;

    &--active {
    }
  }
}
