.dropdown {
  position: relative;

  &__selection {
    border-left: 0;
    min-width: 160px;
    padding: $spacing-sm;
  }

  &--primary {
    border-left: 2px solid green;
    .dropdown__content {
      border-left: 2px solid green;
    }
  }

  &--secondary {
    border-left: 2px solid red;
    .dropdown__content {
      border-left: 2px solid red;
    }
  }

  &--tertiary {
    border-left: 2px solid blue;
    .dropdown__content {
      border-left: 2px solid blue;
    }
  }

  &__content {
    width: 100%;
    position: absolute;
    top: 2.2rem;
    left: -2px;
    background-color: white;
    border-right: 1px solid black;
    z-index: 100;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__option {
    border-bottom: 1px solid grey;
  }
}
