.grid {
  display: grid;
  grid-gap: $spacing-lg;

  &--columns-1 {
    grid-template-columns: auto;
  }

  &--columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &--columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &--columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    background-color: $color-debug-yellow;
  }
}
