.filter-controls {
  margin-bottom: $spacing-lg;

  &__filters {
    margin-bottom: $spacing-md;
    display: grid;
    justify-content: center;
  }

  &__ordering {
    display: grid;
    justify-content: center;
  }
}
