.text {
  &--size-small {
    font-size: $text-size-sm;
  }
  &--size-medium {
    font-size: $text-size-md;
  }
  &--size-large {
    font-size: $text-size-lg;
  }
  &--size-huge {
    font-size: $text-size-hg;
  }
  &--quote {
    color: red;
  }
}
