.footer {
  display: grid;
  align-items: center;
  grid-column-gap: $spacing-lg;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "logo logo logo info";

  &__logo {
    grid-area: logo;
  }

  &__info {
    grid-area: info;
  }
}
