.header {
  display: grid;
  align-content: start;
  align-items: center;
  grid-column-gap: $spacing-lg;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo logo logo button"
    "menu menu menu menu";

  &__logo {
    grid-area: logo;
  }

  &__button {
    grid-area: button;
    justify-self: end;
  }

  &__menu {
    grid-area: menu;
  }
}
