.header {
  display: grid;
  align-content: start;
  align-items: center;
  grid-column-gap: $default-grid-gap;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo button"
    "menu menu";

  &__logo {
    grid-area: "logo";
  }

  &__button {
    grid-area: "button";
    justify-self: end;
  }

  &__menu {
    grid-area: menu;
  }
}
