.game {
  // padding: $spacing-sm;
  position: relative;

  &__image {
    border: 3px solid black;
    height: 150px;
    width: 100%;
    position: relative;
  }

  &__tagline {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &--default {
    .game__info {
      position: relative;
      background-color: white;
      margin-top: -1.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.5rem 2.5rem 0.5rem 0.5rem;
      border: 2px solid black;
      display: inline-block;
      min-width: 80%;
    }

    .game__title {
      margin-bottom: 0.4rem;
    }

    .game__genre {
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      opacity: 0.5;
      transform: rotate(6deg);
    }
  }

  &--wide {
    .game__info {
      display: none;
    }
  }
}
