.quote {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: $spacing-md;
  grid-template-areas:
    "icon-left text icon-right"
    "source source source";

  &__icon-left {
    grid-area: icon-left;
    margin-right: $spacing-sm;
    vertical-align: top;
  }

  &__icon-right {
    grid-area: icon-right;
    margin-left: $spacing-sm;
    vertical-align: bottom;
  }

  &__text {
    grid-area: text;
  }

  &__source {
    grid-area: source;
    justify-self: end;
    font-size: $text-size-md;
  }

  &__user {
    margin-right: $spacing-sm;
  }

  &__game {
  }
}
