.quote {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: $medium-grid-gap;
  grid-template-areas:
    "icon-left text icon-right"
    ". source source";

  &__icon-left {
    grid-area: icon-left;
  }

  &__icon-right {
    grid-area: icon-right;
  }

  &__text {
    grid-area: text;
  }

  &__source {
    grid-area: source;
    justify-self: center;
    font-size: $text-size-md;
  }
}
