.filter-button {
  @include remove-button-styles;

  width: 44px;
  height: 44px;

  &--active {
    border: 1px solid red;
  }

  &--has-icon {
    .filter-button__text {
      @include visually-hidden;
    }
  }

  &__text {
    font-size: 1rem;
  }
}
