.hero {
  display: grid;
  grid-gap: $spacing-lg;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "large large small small small";

  &__main {
    grid-area: large;
  }

  &__highlights {
    grid-area: small;
  }
}
