.button {
  &--active {
    border: 1px solid red;
  }

  &--filter {
    padding: 0.5rem;
  }

  &--dropdown {
    @include remove-button-styles;
    text-align: left;
    cursor: pointer;
    padding: $spacing-md $spacing-sm;
    width: 100%;

    &:hover {
      background-color: #f9f9f9;
    }

    &[disabled] {
      background-color: #f9f9f9;
      cursor: default;
    }
  }

  &__text {
    font-size: 1rem;
  }
}
