.button {
  @include remove-button-styles;
  padding: 0.5rem;

  &--active {
    border: 1px solid red;
  }

  &--has-icon {
  }

  &--filter {
    width: 44px;
    height: 44px;
  }

  &__text {
    font-size: 1rem;
  }
}
