.button {
  &--active {
    border: 1px solid red;
  }

  &--has-icon {
  }

  &--filter {
    width: 44px;
    height: 44px;
    padding: 0.5rem;
  }

  &--dropdown {
    @include remove-button-styles;
    text-align: left;
    cursor: pointer;
    padding: $spacing-md $spacing-sm;
    width: 100%;

    &:hover {
      background-color: white;
    }
  }

  &__text {
    font-size: 1rem;
  }
}
